<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SEISEIDO LINE LIFF</title>
    <style>
      body{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h3 id="confirmMessage">Thank you for your purchase.</h3>
    <h4 id="confirmMessage">Payment received.</h4>

    <script  src=" https://static.line-scdn.net/liff/edge/versions/2.9.0/sdk.js "> </script>
    <script>
      myliffId ="1655992232-rGy06EZd";
      liff.init({liffId:myliffId},()=>{
        if(liff.isLoggedIn()){
          runApp();
        }else{
          liff.login() ;
          runApp();
        }
      });
      function runApp (){
        let message = "Thank you for your purchase.";
        liff.sendMessages([{
          type: "text",
          text: message
        }])
        .then(res =>{
          window.alert("Message sent.")
        }).catch(err => {
          window.alert(err)
        })
      }
    </script>
  </body>
</html>
