<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
    <meta property="og:title" content="花屋,フラワーショップ,花束,フラワーギフト,園芸用品">
    <meta property="og:type" content="`website`, `blog`, or `article`">
    <meta property="og:description" content="「フラワーショップ SAMPLE」は東京都中央区にあるフラワーギフトを専門とした花屋です。園芸用品も多種取り扱っております。">
    <meta property="og:url" content="https://saiseido.seiken-soft.jp/">
    <meta property="og:site_name" content="サイトの概要をここに入力してください。">
    <meta property="og:image" content="An image URL">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
        <title>saiseidou - LIFF App</title>
        <link rel="stylesheet" href="/style.css">
</head>
<body>
   
</body>
<script src="/js/liff.js"></script>
</html>
