<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SEISEIDO LINE LIFF</title>
  </head>

  <body>
    <script  src=" https://static.line-scdn.net/liff/edge/versions/2.9.0/sdk.js "> </script>
    <script>
      myliffId ="1655992232-rGy06EZd";
      liff.init({liffId:myliffId},()=>{
        if(liff.isLoggedIn()){
          runApp();
        }else{
          liff.login() ;
        }
      });
      function runApp (){
        let message = "Thank you for your purchase.";
        //liff.shareTargetPicker(message)
        //.then(res=>{
        //  console.log(res)
        //})
        //.catch(err =>{
        //  console.log(err)
        //})

        liff.sendMessages([{
          'type': 'text',
          'text': "You've successfully sent a message! Hooray!"
        }]).then(function() {
            window.alert('Message sent');
        }).catch(function(error) {
            window.alert('Error sending message: ' + error);
        });
      }
    </script>
  </body>
</html>
