<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BOTTENDER LINE LIFF V2 DEMO</title>
  </head>

  <body>
    <script  src=" https://static.line-scdn.net/liff/edge/versions/2.9.0/sdk.js "> </script>
    <script>
      myliffId ="1655992232-rGy06EZd";
      liff.init({liffId:myliffId},()=>{
        if(liff.isLoggedIn()){
          runApp();
        }else{
          liff.login();
        }
      });
      function runApp (){
        let message = "Thank you for your purchase.";
        liff.shareTargetPicker(message)
        .then(res=>{
          console.log(res)
        })
        .catch(err =>{
          console.log(err)
        })
      }
    </script>
  </body>
</html>
