<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BOTTENDER LINE LIFF V2 DEMO</title>
  </head>

  <body>
    <script  src=" https://static.line-scdn.net/liff/edge/versions/2.9.0/sdk.js "> </script>
    <script>
      liff.init({liffId:"1655992232-rGy06EZd"},()=>{
        if(liff.isLoggedIn()){
          runApp();
        }else{
          liff.login();
        }
      });
      function runApp (){
        liff.sendMessages([
          {
            type: 'text',
            text: 'Thank you for your purchase. Payment Successful'
          }
        ])
        .then(() => {
          console.log('message sent');
        })
        .catch((err) => {
          console.log('error', err);
        });
      }
    </script>
  </body>
</html>
