<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BOTTENDER LINE LIFF V2 DEMO</title>
  </head>

  <body>
    <img id="pictureUrl" width="25%">
    <p id="userId"></p>
    <p id="displayName"></p>
    <p id="statusMessage"></p>
    <p id="getDecodedIDToken"></p>
    <button id="button">send test message</button>
    <script  src=" https://static.line-scdn.net/liff/edge/versions/2.9.0/sdk.js "> </script>
    <script>
      function  RunApp (){
        liff.getProfile().then(profile=>{
          document.getElementById("pictureUrl").src=profile.pictureUrl;
          document.getElementById("userId").innerHTML='<b>UserId:</b>'+profile.userId;
          document.getElementById("displayName").innerHTML='<b>DisplayName:</b>'+profile.displayName;
          document.getElementById("statusMessage").innerHTML='<b>StatusMessage:</b>'+profile.statusMessage;
          document.getElementById("getDecodedIDToken").innerHTML='<b>Email:</b>'+liff.getDecodedIDToken().email;
        });

        liff.init({liffId:"1655992232-rGy06EZd"},()=>{
          if(liff.IsLoggedIn()){
            runApp()
          }else{
            liff.login();
          }
        });
      }
    </script>
  </body>
</html>
