<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SEISEIDO LINE LIFF</title>
  </head>

  <body>
    <h3 id="confirmMessage">Thank you for your purchase.</h3>
    <h2 id="confirmMessage">Have a nice day.</h2>

    <script  src=" https://static.line-scdn.net/liff/edge/versions/2.9.0/sdk.js "> </script>
    <script>
      myliffId ="1655992232-rGy06EZd";
      liff.init({liffId:myliffId},()=>{
        if(liff.isLoggedIn()){
          runApp();
        }else{
          liff.login() ;
          runApp();
        }
      });
      function runApp (){
        let message = "Thank you for your purchase.";
        liff.sendMessages([{
          type: "text",
          text: message
        }])
        .then(res =>{
          console.log(res)
        }).catch(err => {
          console.log(err)
        })
      }
    </script>
  </body>
</html>
