<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>プライバシーポリシー</title>
</head>
<body>
<p>
    プライバシーポリシー（個人情報保護方針）<br>
株式会社彩生堂（以下、「当ショップ」と表現します。）は、当社が取得した個人情報の取り扱いに関し、<br>
個人情報の保護に関する法律やその他ガイドライン等を遵守するよう、以下の個人情報保護方針を定めます。<br>
<br>
なお、本プライバシーポリシーは、当ショップにおいてのみ適用されます。<br>
<br>
第1条、個人情報について<br>
個人情報とは、個人情報保護法に定められた個人情報を指します。具体的には、生存する個人に関する情報であって、<br>
当該情報に含まれる氏名、生年月日、連絡先その他の記述等により特定の個人を識別できる情報、及び他の情報と<br>
照合することによって特定の個人を識別することができることとなるものを指します。<br>
<br>
第2条、個人情報の収集方法<br>
当ショップでは、ユーザーが商品のご購入、お問い合わせをする際に以下の個人情報をお尋ねすることがあります。<br>
<br>
a)お名前、フリガナ<br>
b)ご住所<br>
c)お電話番号<br>
e)メールアドレス<br>
f)パスワード<br>
g)銀行口座、クレジットカード番号など<br>
h)当ショップとのお取引履歴及びその内容<br>
<br>
個人情報を収集するにあたっては、利用目的を明記の上、適法かつ公正な手段によります。<br>
<br>
第3条、個人情報の利用目的<br>
当ショップがユーザーからお預かりした個人情報を利用する目的は以下の通りです。<br>
<br>
a)ご注文の確認、照会<br>
b)商品発送の確認、照会<br>
c)お問い合わせへの対応<br>
d)キャンペーン情報などの告知<br>
<br>
第4条、利用目的の変更<br>
当ショップは、利用目的が変更前と関連性を有する場合のみ、個人情報の利用目的を変更することがあります。変更があった際には、<br>
目的や変更内容についてユーザーへ通知、または当ショップ上で公表いたします。<br>
<br>
第5条、個人情報の第三者への提供の禁止<br>
当ショップでは、ユーザーよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。<br>
<br>
1、ご本人の同意がある場合<br>
2、人の生命、身体または財産の保護のために必要であり、本人の同意を得るのが困難な場合<br>
3、公衆衛生の向上または児童の健全な育成の推進のために特に必要があり、本人の同意を得るのが困難な場合<br>
3、国の機関もしくは地方公共団体などの要請があり、法令に基づき開示することが必要である場合<br>
4、ユーザーが希望されるサービスを行うために、当ショップが業務を委託する業者に対して開示する場合<br>
5、合併その他の事由により事業の継承が行われる場合<br>
<br>
第6条、個人情報の開示<br>
当ショップは、ユーザーから個人情報の開示を求められたときは、ご本人であることを確認させていただいた上、速やかに対応させていただきます。<br>
ただし、開示することにより次のいずれかに該当する場合は、その限りではありません。<br>
また、開示しない決定をした場合には、その旨を遅滞なく通知します。<br>
<br>
1、本人または第三者の生命，身体，財産その他の権利利益を害するおそれがある場合<br>
2、当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合<br>
3、その他法令に違反することとなる場合<br>
<br>
前項の定めにかかわらず、履歴情報および特性情報などの個人情報以外の情報については、原則として開示いたしません。<br>
<br>
第7条、個人情報の訂正、削除<br>
ユーザーは、当社のお預かりする自己の個人情報が誤った情報である場合には、当社に対して個人情報の訂正、追加または削除を請求することができます。下記の第10条、お問合せ先よりお知らせ下さい。<br>
<br>
当ショップは、ユーザーから前項の請求を受けてその請求に応じる必要があると判断した場合には、当該個人情報の訂正等を行います。<br>
また、訂正等を行った場合、もしくは訂正等を行わない旨の決定をした場合は、これをユーザーに通知いたします。<br>
<br>
第8条、個人情報の安全対策<br>
当ショップは、ユーザーの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、<br>
セキュリティに万全の対策を講じております。<br>
<br>
第9条、法令や規範の遵守と見直し<br>
当ショップは、保有する個人情報に関して、日本の法令その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。<br>
また、変更を行う際は、当ページへの変更をもって公表とさせていただきます。<br>
<br>
第10条、お問い合わせ先<br>
本ポリシーに関するお問い合わせは、下記の窓口までお願いいたします。<br>
<br>
住所：北海道札幌市中央区南４条西９丁目１００９ HANA49ビル<br>
社名：株式会社彩生堂生花店<br>
Eメールアドレス：ssd@ceres.ocn.ne.jp<br>
</p>
</body>
</html>
